
.env
.venv
venv
venv/*

.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
.DS_Store
.DS_Store?
.idea/


registration/migrations/__pycache__/0024_notes.cpython-310.pyc
./DiverseSupplierRegistrationPortal/__pycache__/__init__.cpython-310.pyc
./DiverseSupplierRegistrationPortal/__pycache__/settings.cpython-310.pyc
./DiverseSupplierRegistrationPortal/__pycache__/urls.cpython-310.pyc
./DiverseSupplierRegistrationPortal/__pycache__/wsgi.cpython-310.pyc
./DiverseSupplierRegistrationPortal/settings.py
./dashboard/__pycache__/__init__.cpython-310.pyc
./dashboard/__pycache__/admin.cpython-310.pyc
./dashboard/__pycache__/models.cpython-310.pyc
./dashboard/__pycache__/urls.cpython-310.pyc
./dashboard/__pycache__/views.cpython-310.pyc
./dashboard/migrations/__pycache__/__init__.cpython-310.pyc
./registration/__pycache__/__init__.cpython-310.pyc
./registration/__pycache__/admin.cpython-310.pyc
./registration/__pycache__/models.cpython-310.pyc
./registration/__pycache__/urls.cpython-310.pyc
./registration/__pycache__/views.cpython-310.pyc
./registration/migrations/__pycache__/0001_initial.cpython-310.pyc
./registration/migrations/__pycache__/0002_auto_20220302_1102.cpython-310.pyc
./registration/migrations/__pycache__/0003_auto_20220308_1318.cpython-310.pyc
./registration/migrations/__pycache__/0004_remove_veteranownedbusiness_ethnicity.cpython-310.pyc
./registration/migrations/__pycache__/0005_auto_20220308_1830.cpython-310.pyc
./registration/migrations/__pycache__/0006_auto_20220310_1923.cpython-310.pyc
./registration/migrations/__pycache__/0007_auto_20220315_1103.cpython-310.pyc
./registration/migrations/__pycache__/0008_auto_20220323_0714.cpython-310.pyc
./registration/migrations/__pycache__/0009_companydetails_presentation_file.cpython-310.pyc
./registration/migrations/__pycache__/0010_feedback.cpython-310.pyc
./registration/migrations/__pycache__/0011_auto_20220410_0952.cpython-310.pyc
./registration/migrations/__pycache__/0012_auto_20220410_1106.cpython-310.pyc
./registration/migrations/__pycache__/0013_auto_20220410_1117.cpython-310.pyc
./registration/migrations/__pycache__/0014_auto_20220410_1127.cpython-310.pyc
./registration/migrations/__pycache__/0015_auto_20220410_1131.cpython-310.pyc
./registration/migrations/__pycache__/0016_auto_20220410_1143.cpython-310.pyc
./registration/migrations/__pycache__/0017_auto_20220410_1156.cpython-310.pyc
./registration/migrations/__pycache__/0018_auto_20220411_0746.cpython-310.pyc
./registration/migrations/__pycache__/0019_npmvalues_pmvalues.cpython-310.pyc
./registration/migrations/__pycache__/0020_auto_20220411_1056.cpython-310.pyc
./registration/migrations/__pycache__/0021_remove_abccorporation_product_and_service.cpython-310.pyc
./registration/migrations/__pycache__/0022_generalcontactinfo_video_url.cpython-310.pyc
./registration/migrations/__pycache__/0023_generalcontactinfo_company_video_file.cpython-310.pyc
./registration/migrations/__pycache__/__init__.cpython-310.pyc
./users/__pycache__/__init__.cpython-310.pyc
./users/__pycache__/admin.cpython-310.pyc
./users/__pycache__/models.cpython-310.pyc
./users/__pycache__/urls.cpython-310.pyc
./users/__pycache__/utils.cpython-310.pyc
./users/__pycache__/views.cpython-310.pyc
./users/migrations/__pycache__/__init__.cpython-310.pyc