.email-wrapper {
    font-family: 'Roboto', sans-serif;
    width: calc(100% - 100px);
    margin: 0 auto;
}
.email-logo {
    background-color: #eee;
    padding: 30px 0;
}
.email-logo h1, .email-logo h3 {
    text-align: center;
    margin: 0;
    text-transform: uppercase;
    color: #333;
}
.email-logo h1 {
    font-size: 90px;
    font-weight: 400;
}
.email-logo h3 {
    font-size: 26px;
    font-weight: 400;
    position: relative;
    top: -15px;
}
.body-email h2 {
    margin: 30px 0 25px 0;
    font-size: 40px;
    text-align: center;
    font-weight: 500;
    color: #333;
}
.body-email p {
    margin: 0 0 30px 0;
    padding: 0 15px;
    line-height: 24px;
    color: #333;
}
.body-email a {
    text-decoration: none;
    display: block;
    margin: 0 auto;
    width: 200px;
    text-align: center;
    border-radius: 6px;
    background: #5d6cdf;
    padding: 12px 0;
    font-size: 18px;
    color: #fff;
}
.body-email h4 {
    font-size: 30px;
    text-align: center;
    width: 90%;
    margin: 30px auto;
}
.copyright-email {
    background: #eee;
    padding: 40px 0;
}
.copyright-email p {
    margin: 0;
    text-align: center;
    font-weight: 700;
}