* {
    padding: 0;
    margin: 0;
}
body {
    width: 100vw;
    overflow-x: hidden;
    background-color: #e9ecef;
    position: relative;
}
.h-80v{
    height: 80vh;
}
.mr-10{
    margin-right: 10px !important;
}
.text-decoration-none{
    text-decoration: none !important;
}
.w-auto{
    width: auto;
}
.clr{
    clear: both;
}
.ml-auto{
    margin-left: auto !important;
}
body, p, h1, h2, h3, h4, h5, h6, ul {
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
}
.white {
    color: #fff;
}
.bg-grey {
    background-color: #4d8f40;
}
.bg-orange {
    background-color: #686766;
}
.bg-green {
    background-color: #017a82;
}
.center {
    text-align: center;
}
.theme-heading {
    font-size: 22px;
    font-weight: 600;
    color: #77bb44;
    padding: 30px 0 15px 0;
}
.theme-btn {
    width: 100px;
    height: 40px;
    border: unset;
    border-radius: 6px;
}
p {
    margin-bottom: 10px;
    color: #555;
}
button:focus {
    outline: none !important;
    border-color: transparent !important;
    box-shadow: none !important;
}
.requireRed {
    color: red;
    font-size: 16px;
    position: relative;
    top: 0px;
    left: 5px;
}
/* ================ Homepage Styling ================ */
.navbar-brand {
    position: relative;
}
.navbar-brand span {
    position: absolute;
    top: -24px;
    height: 70px;
    transform: skewX(345deg);
    padding: 18px 20px 20px 22px;
    font-size: 22px;
    font-weight: 600;
    font-family: 'Vollkorn', serif;
}
.brand-img {
    width: 110px;
}
.navbar-nav li a {
    color: #fff;
    font-weight: 600;
    transition: 0.5s;
}
.navbar-nav li a:hover {
    color: #555;
    transition: 0.5s;
}
/* .mobile-hamburger {
    border-radius: 6px;
    border-color: white;
}
.mobile-hamburger .navbar-toggler-icon {
    color: white;
} */
.mobile-hamburger .navbar-toggler-icon span {
    background-color: white;
    height: 4px;
    border-radius: 10px;
    display: block;
}
.mobile-hamburger .navbar-toggler-icon span:nth-child(1) {
    margin-top: 4px;
    width: 80%;
}
.mobile-hamburger .navbar-toggler-icon span:nth-child(2) {
    margin: 5px 0;
    width: 50%;
}
.banner-img {
    width: 100%;
    height: 500px;
    background-image: url('../imgs/banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: center;
}
.banner-img-content {
    padding-left: 100px;
}
.banner-img-content h2 {
    font-size: 70px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Vollkorn', serif;
}
.banner-img-content h2:nth-child(2) {
    padding-left: 60px;
}
.boxDiversty {
    position: relative;
    border-radius: 6px;
    margin-bottom: 15px;
    height: 185px;
    overflow: hidden;
}
.gradientOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #eb5d0a5c, #017a8280);
    z-index: 1;
    border-radius: 6px;
}
.boxDiversty img {
    width: 100%;
    border-radius: 6px;
    height: 100%;
}
.boxDiversty h6 {
    font-size: 22px;
    font-weight: 600;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;
    color: #fff;
    background-color: #77bb44ab;
    padding: 10px 10px 10px 10px;
}
.diversity-content em {
    position: relative;
    top: -50px;
}
.slider-types {
    margin: 30px 0 0 0;
}
.slider-types .owl-nav {
    display: flex;
    margin: unset;
    position: relative;
    top: -137px;
}
.slider-types .owl-nav button {
    font-size: 30px !important;
    color: #fff !important;
    background: #77bb44ab !important;
    border-radius: 6px !important;
    width: 45px;
    height: 45px;
}
.slider-types .owl-nav button span {
    position: relative;
    top: -1px;
}
.slider-types .owl-nav .owl-next {
    margin-left: auto !important;
}
.slider-types .owl-dots {
    display: none;
}
.newsletter {
    padding: 30px 0;
    background: #bbb;
}
.newsContent {
    display: flex;
}
.newsContent h5 {
    font-size: 22px;
    font-weight: 600;
    color: #555;
    padding-top: 8px;
    margin-right: 20px;
}
.newsContent button {
    width: 100px;
    height: 40px;
    margin-left: 15px;
    border: unset;
    border-radius: 6px;
    background: #686766;
    color: #fff;
}
.newsContent .hvr-sweep-orange-bottom a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: unset;
    color: #fff;
}
.footer {
    height: 56px;
    position: relative;
    bottom: 0px;
    left: 0px;
    width: 100%;
}
.footer-logo .navbar-brand span {
    height: 56px;
    padding: 13px 15px;
    top: 3px;
}
.footer-content h6 {
    text-align: right;
    color: #fff;
    position: relative;
    top: -8px;
}
.footer-content h6 a {
    color: #fff;
    margin-left: 10px;
    transition: 0.5s;
}

.diverse-certficates {
    position: relative;
    top: -35px;
}
.certificates-ul li button {
    background: #686766 !important;
    margin-right: 5px;
    color: #fff;
}
.certificates-ul li button:hover {
    color: #fff;
}
.certificates-ul li button.active {
    background: #77bb44 !important;
}
.certificates-list {
    flex-wrap: wrap;
    list-style-type: decimal;
    padding: 0 50px;
}
.certificates-list li {
    flex-basis: 50%;
}
.certificate-list-box {
    background: #bbb;
    color: #444;
    border-radius: 6px;
    height: 180px;
    font-size: 22px;
    padding: 52px 20px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}
.certificate-list-box:hover {
    transform: scale(1.1);
    transition: 0.3s;
}
.certificate-list-box small {
    display: block;
    text-align: center;
    font-size: 14px;
}
/* ================ Landing Page ================ */
.landingPage {
    background-image: url(https://webappmuh.blob.core.windows.net/static/imgs/LandingBanner.jpg?sv=2021-04-10&st=2022-04-24T09%3A11%3A45Z&se=2025-05-25T09%3A11%3A00Z&sr=b&sp=r&sig=Qb0O%2FXjhI7URkfDg6IS5qORKIXnrFZE75hTad9iWk%2FM%3D);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.landing-content {
    width: 800px;
}
.brand-logo {
    font-size: 38px;
    font-weight: 600;
    font-family: 'Vollkorn', serif;
    font-style: italic;
    color: #fff;
}
.landing-content p {
    color: #fff;
    margin: 10px 0 20px 0;
}
#loginModal .modal-body, #signupModal .modal-body {
    padding: 40px 16px;
}
.modalBodyContent {
    display: flex;
}
.login-form-modal {
    width: 50%;
    padding: 0 30px;
    padding-top: 12px;
}
.image-modal {
    width: 50%;
}
.image-modal img {
    width: 75%;
    margin: 0 auto;
    display: block;
}
.form-label {
    margin-bottom: 5px;
}
.formInput {
    height: 40px;
    border: unset;
    border-radius: 0 6px 6px 0;
    box-shadow: 0 0 25px rgb(49 59 84 / 15%);
    border-left: 2px solid #eb5d0a;
}
.formInput:focus {
    box-shadow: 0 0 20px rgb(49 59 84 / 15%);
    border-left: 2px solid #eb5d0a;
}
.closeModalHeader {
    position: relative;
    top: -30px;
}
.closeModalHeader button {
    position: absolute;
    right: 0;
}
.signup-image-modal {
    margin-top: 85px;
}
/* ================ Form Page Styling ================ */
.diversity-form-content p {
    margin-bottom: 30px;
}
.danger-text-note {
    font-weight: 400;
    color: red;
    font-size: 14px;
    padding: 0 0 5px 5px;
}
.accordion-form-content {
    padding-bottom: 40px;
}
.accordion-form-content .accordion-header button {
    text-transform: capitalize;
}
.accordion-form-content .accordion-button:not(.collapsed) {
    color: #fff;
    background-color: #017a82;
    box-shadow: unset;
}
.accordion-button:not(.collapsed)::after {
    /* background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' viewBox='0 0 16 16'> <path fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/></svg>"); */
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.diversity-form {
    min-height: calc(100vh - 100px);
    background: #e9ecef;
}
.same-inner-accord {
    border: 1px solid #dfdfdf;
    padding: 0 15px 15px 15px;
    border-radius: 4px 4px 3px 3px;
    background: #fff;
}
.same-inner-accord h3 {
    margin-left: -15px;
    margin-right: -15px;
    padding: 10px;
    background: #017a82;
    color: #fff;
    font-size: 16px;
    font-weight: 900;
    border-radius: 2px 2px 0 0;
}
.selection-radio-box {
    display: flex;
}
.radio-box {
    margin-right: 5px;
}
.radio-box .btn-secondary {
    background-color: #313b54;
    border-color: #313b54;
    transition: 0.3s;
}
.radio-box .btn-secondary:hover {
    background-color: #eb5d0a;
    border-color: #eb5d0a;
    transition: 0.3s;
}
.radio-box .btn-check:checked+.btn-secondary {
    background-color: #eb5d0a;
    border-color: #eb5d0a;
}
.radio-box .btn-check:focus+.btn-secondary, .radio-box .btn-secondary:focus{
    box-shadow: unset;
}
.formTextarea {
    height: auto;
}
.uplaod-info p {
    margin: 0;
    font-size: 12px;
}
.npm-header {
    position: relative;
}
.npm-header span {
    width: 70px;
    height: 35px;
    background: #eb5d0a;
    position: absolute;
    display: flex;
    top: 2px;
    right: 2px;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    cursor: pointer;
}

/* +++++++++++++++ Theme Select starts +++++++++++++++ */
.dropdown a{
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 5px;
    background-color: transparent;
    margin-left: 3px;
    color: #000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dropdown a:hover{
    box-shadow: none !important;
    background: transparent !important;
    color: #000;
}
.dropdown a:focus{
    box-shadow: none !important;
    background: transparent !important;
    color: #000;
}
.dropdown-menu{
padding: 0px;
}
.dropdown-menu li a{
    border: none;
    padding: 5px;
    margin: 0px;
    font-size: 15px;
}
.dropdown-menu li a:hover{
 background-color: #f5f5f5 !important;
}
/* +++++++++++++++ Theme Select ends +++++++++++++++ */


/* +++++++++++++++ Theme Select2 +++++++++++++++ */
.theme-select .select2 {
    display: block;
    width: 100% !important;
}
.theme-select .select2-selection {
    height: 40px;
    border: unset;
    box-shadow: 0 0 25px rgb(49 59 84 / 15%);
    border-radius: 0 6px 6px 0 !important;
    border-left: 2px solid #eb5d0a;
}
.theme-select .select2-selection:focus-visible {
    outline: unset;
}
.theme-select .select2-selection__rendered {
    padding: 6px 12px;
}
.theme-select .select2-selection__arrow {
    top: 7px !important;
    right: 5px !important;
}
.select2-dropdown {
    border-radius: 6px !important;
    border: unset;
    box-shadow: 0 0 25px rgb(49 59 84 / 20%);
    top: 5px;
    padding: 10px 0;
}
.select2-search {
    display: none;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #313b54;
}
.theme-select .select2-selection--multiple {
    border: unset !important;
    border-left: 2px solid #eb5d0a !important;
    padding-top: 2px;
    min-height: 40px;
    height: auto;
}
/* ================ Records Page Styling ================ */
.records {
    padding: 50px 0 30px 0;
    min-height: calc(100vh - 112px);
}
.table-record {
    border: 1px solid #ccc;
    padding: 20px 0 0 0;
    border-radius: 6px;
    box-shadow: 0 0 20px 20px #cccccc3b;
}
.records-filter{
    padding: 20px;
    padding-right: 0px;
}
.tbl-wrapper-content {
    overflow-x: scroll;
    /* margin-top: 20px; */
}
.theme-tbl {
    margin: unset;
    width: 100%;
    border-bottom-color: #ccc !important;
}
.theme-tbl thead tr th {
    border-bottom-color: #ccc !important;
    font-size: 14px;
}
.theme-tbl tbody tr td {
    font-size: 14px;
}
.theme-tbl tbody tr:last-child {
    border-bottom-color: transparent;
}
.theme-tbl thead tr th {
    padding: 10px;
}
.theme-tbl thead tr th:first-child, .theme-tbl tbody tr td:first-child {
    padding-left: 20px;
}
.theme-tbl thead tr th:last-child,  .theme-tbl tbody tr td:last-child {
    padding-right: 20px;
}
/* +++++++++++++++ Theme Table TD +++++++++++++++ */

.theme-tbl thead tr th:nth-child(1) { min-width: 140px; } .theme-tbl thead tr th:nth-child(2), .theme-tbl thead tr th:nth-child(3) { min-width: 320px; } .theme-tbl thead tr th:nth-child(4) { min-width: 70px; } .theme-tbl thead tr th:nth-child(5) { min-width: 130px; } .theme-tbl thead tr th:nth-child(6) { min-width: 165px; } .theme-tbl thead tr th:last-child { text-align: center; }
.theme-tbl tbody tr td:nth-child(1) { min-width: 140px; } .theme-tbl tbody tr td:nth-child(2), .theme-tbl tbody tr td:nth-child(3) { min-width: 320px; } .theme-tbl tbody tr td:nth-child(4) { min-width: 70px; } .theme-tbl tbody tr td:nth-child(5) { min-width: 130px; } .theme-tbl tbody tr td:nth-child(6) { min-width: 165px; } .theme-tbl tbody tr td:last-child { text-align: center; }
/* +++++++++++++++ Theme Table TD +++++++++++++++ */
.table-record-actions {
    display: flex;
    padding: 0 20px;
}
.table-record-actions .theme-btn.white.bg-grey {
    margin-right: 6px;
}
.table-record .row > div{
    margin-bottom: 0px;
}
@media (max-width:768px) {
    .table-record .row > div{
    margin-bottom: 10px;
}
}

/* Data Table Styles */
.tbl-wrapper-content .dt-buttons {
    position: sticky;
    left: 20px;
}
.dt-buttons button {
    height: 40px;
    border-radius: 6px;
    border: unset;
    background: #313b54;
    color: #fff;
    padding: 0 15px;
    transition: 0.3s;
}
.dt-buttons button:hover {
    border: unset !important;
    background: #eb5d0a !important;
    transition: 0.3s !important;
}
.dt-buttons .buttons-collection {
    position: relative;
    top: -1px;
}
.dt-buttons .buttons-collection span {
    position: relative;
    top: 2px;
}
.dt-buttons .buttons-collection .dt-down-arrow {
    color: #fff !important;
    line-height: unset !important;
    top: 0px !important;
    padding-left: 5px !important;
    font-size: 6px !important;
}
.dt-button-background {
    z-index: 9999 !important;
}
.dt-button-collection {
    border: unset !important;
    border-radius: 6px !important;
    z-index: 9999 !important;
}
.dt-button-collection button {
    background: #eb5d0a !important;
    border: unset !important;
    border-radius: 6px !important;
    box-shadow: unset !important;
}
.dt-button-collection button:hover {
    background: #313b54 !important;
}
.dt-button-collection .buttons-columnVisibility {
    background: #313b54 !important;
}
.dt-button-collection .buttons-columnVisibility.active {
    background: #eb5d0a !important;
}
.theme-tbl tbody tr {
    border-color: #ccc;
}
.theme-tbl tbody tr:nth-child(odd) td {
    background: #fff;
}
.theme-tbl tbody tr td {
    background: #e9ecef;
}
.dataTables_info {
    position: sticky;
    left: 20px;
    font-size: 14px;
    font-weight: 600;
    margin-top: 8px;
}
.dataTables_filter {
    position: relative;
    right: 20px;
}
.table-record .tbl-wrapper-content .dataTables_wrapper .dataTables_paginate a {
    background: #313b54 !important;
    color: #fff!important;
    border-radius: 4px;
    height: 36px;
    padding: 6px 15px;
    transition: 0.3s;
}
.table-record .tbl-wrapper-content .dataTables_wrapper .dataTables_paginate a:hover {
    background: #eb5d0a !important;
    color: #fff!important;
    transition: 0.3s;
}
.dataTables_paginate {
    position: relative;
    margin: 10px 20px 10px 0;
    padding: unset !important;
}
.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-color: #ccc;
}
.header-tbl-index, .body-tbl-index, .search-tbl-index, .pagination-tbl-index {
    z-index: -1;
}

/*favourite-list-styles*/

.favourite-list-styles{
    margin-left: 30px;
}

.favourite-list-styles li{
        list-style-type: auto;
        font-size: 15px;
        font-weight: 700;
        cursor: pointer;
        padding: 5px;
        background-color: transparent;
}

.favourite-list-styles li:HOVER{
        background-color: #fff;
}

/* Data Table Styles */
.search-tbl {
    margin-left: auto;
}
.search-tbl form {
    position: relative;
}
.search-tbl form input {
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding-left: 10px;
}
.search-tbl form input:focus {
    outline: unset;
    border: 1px solid #ccc;
}
.search-tbl form button {
    background: unset;
    border: unset;
    position: absolute;
    color: #ccc;
    right: 10px;
    top: 8px;
}
.theme-pagination {
    display: flex;
}
.theme-pagination nav {
    margin-left: auto;
    margin-top: 10px;
}
.theme-pagination ul li a {
    color: #fff;
    background: #313b54;
    border-color: #ccc;
}
.theme-pagination ul li a:hover, .theme-pagination ul li a:focus  {
    color: #fff;
    background: #eb5d0a;
    border-color: #ccc;
    outline: unset;
    box-shadow: unset;
}

.lightGreen {
    color: #02b399;
}

/* ================ Forgot Page Styling ================ */
.forgot-content {
    width: 400px;
    background: #fff;
    padding: 30px;
    border-radius: 4px;
}
.form-forgot p {
    font-size: 13px;
    text-align: left;
}
.form-forgot .formSubmit button {
    width: auto;
    padding-left: 12px;
    padding-right: 12px;
}
.formSubmit a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: unset;
}

/* ================ Bulk Page Styling ================ */
.bulkUpload {
    height: calc(100vh - 112px);
}
.bulkUploadContent {
    padding-top: 60px;
}
.bulk-upload-form button {
    width: 100%;
    height: 40px;
    border: unset;
    border-radius: 4px;
}
/* ================ Dashboard Page Styling ================ */
.detailRecord {
    padding: 50px 0 30px 0;
    min-height: calc(100vh - 112px);
}
/* ================ View Record Page Styling ================ */
.detailRecord {
    padding: 50px 0 30px 0;
    min-height: calc(100vh - 112px);
}
.card-notes-wrapper .card{
    position: relative;
    padding: 0px;
    margin-bottom: 10px;
}
.card-notes-wrapper .card-body{
    max-height: 250px;
    overflow: auto;
    padding: 10px;
    padding-bottom: 60px;
}
.card-notes-wrapper .dt-buttons{
    position: absolute;
    left: 0px;
    bottom: 0px;
    padding: 5px;
    background: #fff;
    width: 100%;
}
.table-view-record {
    width: 100%;
    margin-top: 15px;
    margin-bottom: unset;
}
.table-view-record tbody tr td {
    border-bottom: 1px solid #cccc;
    padding: 5px 15px;
    font-size: 14px;
}
.table-view-record tbody tr:last-child td {
    border-bottom: unset;
}
.table-view-record tbody tr td:first-child {
    width: 300px;
    font-weight: 600;
}
.response-radio-box label {
    width: auto;
    min-width: 220px;
}
.response-btn {
    padding: 0 10px;
    height: 40px;
    border: unset;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: unset;
    width: 150px;
    margin: 0 auto;
    cursor: pointer;
}
.response-btn:hover {
    color: #fff;
}
.customMessageArea {
    width: 470px;
    position: relative;
    margin: 0 auto;
    left: -3px;
}
.report-mail {
    width: 474px;
    margin: 0 auto;
}
.powerBi {
    margin-top: 50px;
}
.emailResponse{
    margin-top: 10px;
}
.displayNone{
    display: none;
}
#formFile{
    height: 38px;
    margin-top: 2px;
}
.margin-top-40 {
    margin-top: 40px;
}
.feedback-sent form {
    padding: 0 10px;
}
.feedback-sent form a {
    margin-left: auto;
    margin-right: unset;
}
.npm-pm-style li {
    list-style-type: none;
    display: flex;
    background: #313b54;
    margin: 5px;
    padding: 5px 10px;
    color: #fff;
    border-radius: 4px;
    align-items: center;
}
.npm-pm-style li button {
    margin-left: auto;
    border: unset;
    height: 34px;
    padding: 0 10px;
    background: red;
    color: #fff;
    border-radius: 4px;
}
/*modal-content-styles*/

.modal-content .modal-body {
    padding-top: 36px;
}
.modal-body .closeModalHeader{
    position: absolute;
    top: 8px;
    right: 12px;
}
.modal-body .modalBodyContent{
    display: block;
}
.support-wrapper{
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 9999;
    width: 26%;
    margin-bottom: 50px;
}
@media (max-width:767px) {
    .support-wrapper{
        width: 96%;
    }
}
.support-tag{
    background-color: #77bb44;
    color: #fff;
    padding: 10px;
    width: 110px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    cursor: pointer;
    margin-left: auto;
}
.questions-wrapper{

}
.questions-wrapper .header{
    height: 50px;
    padding: 0px 15px;
    background-color: #313b54;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px 8px 0px 0px;
    position: relative;
}
.questions-wrapper ol{
padding-left: 18px;
}
.questions-wrapper ol li a{
    text-decoration: none;
    color: #333333;
    font-size: 16px;
    font-weight: bold;
}
.questions-wrapper img{
    position: absolute;
    width: 18px;
    right: 11px;
    top: 8px;
    cursor: pointer;;
}
.questions-wrapper .header img{
    width: 18px;
    position: absolute;
    top: 13px;
    cursor: pointer;
}
.questions-wrapper .body{
    padding: 15px;
    background-color: #fff;
    border-radius: 0px 0px 8px 8px;
}
.wrapper.h-0{
        height: 0;
        overflow: hidden;
}
.wrapper.h-100{
        height: 100%;
        overflow: visible;
}
.questions-wrapper .body .dt-buttons{
    background-color: #fff;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    padding-top: 5px;
}
.questions-wrapper .body .dt-buttons button{
    margin: 0px;
}
.questions-wrapper .body input{
    width: 100%;
    border-radius: 4px;
    border: 1px solid #6e6c6c;
    height: 35px;
    margin-bottom: 10px;
    padding: 5px 33px 5px 5px;
}
.questions-wrapper .body input:focus-visible{
    outline: none;
}
.question-wrapper{
    max-height: 350px;
    overflow: auto;
}
.question-wrapper p{
    color: #000;
    margin: 0px;
    font-size: 15px;
    font-weight: 800;
}
.question-wrapper span{
    font-size: 15px;

}
.position-relative{
    position: relative !important;
}









/* ================ Media Queries For All Pages ================ */
@media (max-width: 1199px) {
    .response-radio-box {
        display: block;
    }
    .response-radio-box  .radio-box {
        margin-right: unset;
    }
    .response-radio-box label {
        width: 100%;
        min-width: 100%;
    }
    .report-mail {
        width: 100%;
        margin: 0 auto;
    }
    .customMessageArea {
        width: 100%;
        position: unset;
    }
}
@media (max-width: 1100px) {
    .boxDiversty h6 {
        font-size: 15px;
    }
}
@media (max-width: 991px) {
    .navbar-brand span {
        top: -23px;
        height: 56px;
        padding: 14px 20px 14px 22px;
    }
    .navbar-nav {
        margin: 8px 0 0 0;
        padding-left: 15px;
    }
    .response-radio-box label {
        font-size: 14px;
    }
    .report-form {
        margin-top: 15px;
    }
    .image-modal {
        display: none;
    }
    .login-form-modal {
        width: 100%;
    }
}
@media (max-width: 767px) {
    .footer-content h6 {
        font-size: 12px;
    }
    .same-detail-record-tbl {
        display: block;
        overflow-x: scroll;
    }
    .table-view-record tbody tr td:first-child {
        min-width: 300px;
        width: auto;
    }
    .table-view-record tbody tr td:last-child {
        min-width: 600px;
        width: auto;
    }
}
@media (max-width: 575px) {
    .boxDiversty {
        height: auto;
    }
    .slider-types .owl-nav {
        display: none;
    }
    .diversity-content em {
        position: unset;
        font-size: 14px;
        margin-bottom: 15px;
        display: block;
    }
    .footer-logo {
        display: none;
    }
    .footer-content h6 {
        text-align: center;
        padding-top: 22px;
        position: unset;
    }
    .newsContent h5 {
        font-size: 16px;
        margin: unset;
        padding-top: 10px;
    }
    .landing-content p {
        padding: 0 10px;
    }

}

@media (max-width: 450px) {
    .newsContent h5 {
        padding-top: unset;
    }
    .forgot-content {
        width: 90%;
    }
}