

{% extends 'base.html' %}

{% load  static%}

{% block content %}

    <section class="dashboard-home">
        <div class="container">
            <div class="powerBi">
                <iframe title="Supplier Diversity Registration Form Application" width="1300" height="641.25" src="https://app.powerbi.com/reportEmbed?reportId=a4fddac6-d1db-4573-b8d8-6ca83f1085b6&autoAuth=true&ctid=81a6f3e5-1e2b-4a1e-99ad-136db9d1ba88&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXVzLW5vcnRoLWNlbnRyYWwtYi1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
            </div>
            <div class="dashboardChartJS mt-4">
                <div class="row">
                    <div class="col-lg-6 mb-3">
                        <div class="same-inner-accord diverse-chart">
                            <h3>Diverse Certifications </h3>
                            <div class="theme-chart-box mt-3">
                                <canvas id="diverseCertificateChart"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <div class="same-inner-accord application-state">
                            <h3>Applications States </h3>
                            <div class="theme-chart-box mt-3">
                                <canvas id="applicationStateChart"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mb-3">
                        <div class="same-inner-accord per-country">
                            <h3>Records Per Country</h3>
                            <div class="theme-chart-box mt-3">
                                <canvas id="perCountryChart"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mb-3">
                        <div class="same-inner-accord per-location">
                            <h3>Records Per Na Locations</h3>
                            <div class="theme-chart-box mt-3">
                                <canvas id="perLocationChart"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mb-3">
                        <div class="same-inner-accord per-oem">
                            <h3>Records Per OEMs</h3>
                            <div class="theme-chart-box mt-3">
                                <canvas id="perOemChart"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="same-inner-accord npm-chart">
                            <h3>NPM - Non Production Material</h3>
                            <div class="theme-chart-box mt-3">
                                <canvas id="npmChart"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="same-inner-accord pm-chart">
                            <h3>PM - Production Material</h3>
                            <div class="theme-chart-box mt-3">
                                <canvas id="pmChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{% endblock %}




