<!DOCTYPE html>


<html lang="">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://webappmuh.blob.core.windows.net/static/css/email.css?sv=2021-04-10&st=2022-04-21T07%3A43%3A55Z&se=2025-05-22T07%3A43%3A00Z&sr=b&sp=r&sig=z0YmKu30kE9ajAmS7ZCfRdfmXNONiB9KYEslK2hVNEs%3D" rel="stylesheet">

    <title>email</title>
</head>
<body >

{% block content %}{% endblock content %}


</body>
</html>
