

{% extends 'base.html' %}

{% load  static%}

{% block content %}
<section class="bulkUpload" style="height: auto">

    <div class="container-fluid">
        <div class="row mt-3 mb-4">
            <div class="col-md-2 col-12 mb-2">
                <div class="table-record pt-0">
                    <h4 class="heading">Favourite Record List</h4>
                    <div class="selection-radio-box mb-2 d-block ml-10" id="FavoriteListsRadio2">


                    </div>

                </div>
            </div>

            <div class="col-md-10 col-12">

                <div class="container">
                    <div class="displayNone" id="allRecordsAlert">
                        <div class="messages">
                            <div id="allRecordsDiv" class="alert" >
                                <lable id="allRecordsLabel"></lable>
                            </div>
                        </div>
                    </div>
                    <div class="record-content">
                        <div class="table-record mb-2 records-filter d-flex align-items-center">
                            <div class="dt-buttons d-flex align-items-center">

                                <button onclick="showModelToGetEmail()" class="mr-10 bg-grey white  hvr-sweep-orange-bottom mt-6">Email Saved List</button>



<!--                                <form action="{% url 'sendFavoriteList' %}" method="POST">-->
<!--                                    {% csrf_token %}-->
<!--                                    <input type="hidden" name="favorite_list_name" value="{{favorite_list_name}}">-->
<!--                                    <div class="mb-3 mt-3">-->
<!--                                        <button type="submit" class="bg-grey white  hvr-sweep-orange-bottom mt-6">Email Saved List</button>-->
<!--                                    </div>-->
<!--                                </form>-->


                            </div>
                        </div>
                    </div>
                </div>

                <div  class="table-record mr-10">
                    <div class="tbl-wrapper-content">
                        <table class="table theme-tbl" id="favouriteRecord">
                            <thead>
                            <tr>
                                <th>Company Name</th>
                                <th>Non Production Material</th>
                                <th>Production Material</th>
                                <th>Oem's</th>
                                <th>Current Supplier</th>
                                <th>Technology & Location</th>
                                <th>Responded</th>
                                <th>Emailed</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for rec in page_obj %}
                            <tr>
                                <td>
                                    <a href="#" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#favouriteList">
                                        <img src="{% static 'imgs/favorite.png' %}" alt="" height="15" class="mb-1"/>
                                    </a>
                                    {{rec.general_contant_info.company_name}}</td>
                                <td>
                                    {% for obj in npmValues %}
                                    {% if obj.abc_corporation_id == rec.id%}

                                    {{obj.npm_value}} > {{obj.npm_value_category1}} > {{obj.npm_value_category2}} |
                                    {% endif %}
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for obj in pmValues %}
                                    {% if obj.abc_corporation_id == rec.id%}

                                    {{obj.pm_value}} > {{obj.pm_value_category1}} |
                                    {% endif %}
                                    {% endfor %}
                                </td>
                                <td>{{rec.production_capabilities.oems.name}}</td>
                                <td>{{rec.production_capabilities.abc_supplier}}</td>
                                <td>{{rec.production_capabilities.record_per_naLocation.name}}</td>
                                <td> {% if rec.response == 1 %} Yes {% else %} No {%endif %}</td>
                                <td> {{rec.emailed}} Times</td>
                                <td><a href="{% url 'detailRecord' rec.id %}"><i class="bi bi-eye-fill"></i></a></td>
                            </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <form action="{% url 'favouriteRecode' %}" id="favouriteRecode_form">

        {% csrf_token %}
        <input type="hidden" id="favouriteRecodeId" name="favouriteRecodeId"
               value='123'>

    </form>
    <div aria-hidden="true" aria-labelledby="staticBackdropLabel" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="SendListModel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="modal-header">
                        <h4>Send List to Someone</h4>
                        <div class="closeModalHeader">
                            <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button">
                                <img src="{% static 'imgs/cross.png' %}" alt=""/>
                            </button>
                        </div>
                    </div>
                    <div class="modalBodyContent">
                        <!--                    <h4 class="mb-2"> Add Favourite Records</h4>-->
                        <form class="login-form-modal" id="createFavoriteListForm" method="POST" action="{% url 'addFavoriteList' %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="name" class="form-label">Email</label>
                                <input type="text" required name="name" class="form-control formInput" id="name" aria-describedby="emailHelp">
                            </div>
                            <div class="clr"></div>
                            <div class="dt-buttons d-flex">
                                <button class="dt-button buttons-pdf buttons-html5 mr-10" id="SelectPreviousFavoriteListButton" onclick="" type="button"><span>Send</span></button>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.6/jspdf.plugin.autotable.min.js"></script>

{% endblock %}
