
{% extends 'base.html' %}

{% load  static%}

{% block content %}

    <div class="support-wrapper">
        <div class="support-tag" onclick="SupportBar()" id="SupportDiv"><i class="bi bi-headset me-2 d-flex"></i>Support</div>
        <div class="wrapper h-100 displayNone" id="SupportBarDiv1">
            <div class="questions-wrapper">
        <div class="header">
            <span>Support</span>
            <img  onclick="CloseSupportBarDiv(1)" src="https://webappmuh.blob.core.windows.net/static/imgs/cross.png?sv=2021-04-10&st=2022-05-06T13%3A27%3A02Z&se=2025-05-07T13%3A27%3A00Z&sr=b&sp=r&sig=YTsNT%2FYHyPHvs5TRJTC2C3jy1ahn0Hk3nie2OoxY3RA%3D" alt=""/>
        </div>
        <div class="body" >
            <div class="question-wrapper" id="SupportAnswerDiv">

            </div>
            <div>
                <div class="position-relative">
               <input value="" name="SupportSearch" id="SupportSearch" type="text" placeholder="Enter your Question Here..."/>
               <img src="https://webappmuh.blob.core.windows.net/static/imgs/search.svg?sv=2021-04-10&st=2022-05-06T13%3A28%3A34Z&se=2025-05-07T13%3A28%3A00Z&sr=b&sp=r&sig=ziew8X44lh6gN%2BY9GzGaT9dmC9UMFWCwQhbUDcEKtJ8%3D" alt=""/>
            </div>

            <div class="question-wrapper" id="SupportQuestionsDiv">
                <ol>
<!--                  <li><a href="#">Engage with buyers from the world's leading companies?</a></li>-->
                </ol>

            </div>
            </div>
            <div class="clr">

            </div>
<!--            <div class="dt-buttons">-->
<!--                <button type="submit" class="dt-button buttons-pdf buttons-html5">Contact Us</button>-->
<!--            </div>-->
             <div class="clr"></div>
        </div>
    </div>

    </div>


        <div class="wrapper h-100 displayNone" id="SupportBarDiv2">
            <div class="questions-wrapper">
                <div class="header">

                    <span>Support</span>
                    <img  onclick="CloseSupportBarDiv(2)" src="{% static 'imgs/cross.png' %}" alt=""/>
                </div>
                <div class="body" >
                    <div class="question-wrapper" id="SupportAnswerDiv2">

                    </div>

                    <div class="clr">

                    </div>
                                <div class="dt-buttons">
                                    <button type="submit" onclick="BackToQuestions()" class="dt-button buttons-pdf buttons-html5">Back</button>
                                </div>
                    <div class="clr"></div>
                </div>
            </div>

        </div>

    </div>

    <section class="diversity">
        <div class="container">
            <div class="diversity-content center">
                <h5 class="theme-heading">Supplier Diversity Registration Form</h5>
                <p>We would like to thank you for visiting the Nippon Seiki International Supplier Diversity Registration Portal. Our company, Nippon Seiki International, recognizes the importance of connecting qualified diverse businesses with sourcing opportunities to drive economic development and growth in our communities.</p>
                <p>Creating a dynamic and diverse supply chain is an important goal for Nippon Seiki International. As part of our strategic sourcing efforts, we aim to include diverse suppliers where alignment exists between our business needs and the needs of our customers.</p>
            </div>
            <div class="diversity-content center">
                <h5 class="theme-heading">What is a Diverse Supplier?</h5>
                <p>A Diverse Supplier is a business that is at least 51% owned and operated by an individual that is part of a traditionally underrepresented or underserved group.  individual who operates an individual who falls into one or more of the following categories:</p>
                <p>An eligible supplier is considered diverse if it is a privately held company whose majority owner and operator falls into at least one of the following categories and has a valid certification.</p>
                <div class="owl-carousel owl-theme slider-types">
                    <div class="item">
                        <div class="boxDiversty">
                            <div class="gradientOverlay"></div>
                            <img src="https://webappmuh.blob.core.windows.net/static/imgs/women.jpeg?sv=2021-04-10&st=2022-04-21T07%3A49%3A19Z&se=2025-05-22T07%3A49%3A00Z&sr=b&sp=r&sig=ET9urjV4I6A9GWFwwwklmOatn3AmNm27JyXVRQTV7ws%3D" alt="...">
                            <h6>Women</h6>
                        </div>
                    </div>
                    <div class="item">
                        <div class="boxDiversty">
                            <div class="gradientOverlay"></div>
                            <img src="https://webappmuh.blob.core.windows.net/static/imgs/hispanic.png?sv=2021-04-10&st=2022-04-21T07%3A50%3A06Z&se=2025-05-22T07%3A50%3A00Z&sr=b&sp=r&sig=Ag28bqb1gsOJU%2Fh02VfRW8%2BDeERMj3n4hzJxlvKb61E%3D" alt="...">
                            <h6>Hispanic American</h6>
                        </div>
                    </div>
                    <div class="item">
                        <div class="boxDiversty">
                            <div class="gradientOverlay"></div>
                            <img src="https://webappmuh.blob.core.windows.net/static/imgs/africa.jpeg?sv=2021-04-10&st=2022-04-21T07%3A50%3A32Z&se=2025-05-22T07%3A50%3A00Z&sr=b&sp=r&sig=25wy%2BhyGTmxU%2FjUsEe0R%2BjTlA2olT8PvZG%2F6xzz96FY%3D" alt="...">
                            <h6>African American</h6>
                        </div>
                    </div>
                    <div class="item">
                        <div class="boxDiversty">
                            <div class="gradientOverlay"></div>
                            <img src="https://webappmuh.blob.core.windows.net/static/imgs/asia.jpg?sv=2021-04-10&st=2022-04-21T07%3A50%3A54Z&se=2025-05-22T07%3A50%3A00Z&sr=b&sp=r&sig=ugHCSYIftf6yCJ4F73DlDUoyEp8fmyTTuxqSfKkZhVM%3D" alt="...">
                            <h6>Asian American</h6>
                        </div>
                    </div>
                    <div class="item">
                        <div class="boxDiversty">
                            <div class="gradientOverlay"></div>
                            <img src="https://webappmuh.blob.core.windows.net/static/imgs/native.png?sv=2021-04-10&st=2022-04-21T07%3A51%3A19Z&se=2025-05-22T07%3A51%3A00Z&sr=b&sp=r&sig=LQIBjYtz2chXXdFV7vLagSq83bc4taAq3sWenfbsx0U%3D" alt="...">
                            <h6>Native American/ Alaskan Native</h6>
                        </div>
                    </div>
                    <div class="item">
                        <div class="boxDiversty">
                            <div class="gradientOverlay"></div>
                            <img src="https://webappmuh.blob.core.windows.net/static/imgs/vertan.jpg?sv=2021-04-10&st=2022-04-21T07%3A51%3A43Z&se=2025-05-22T07%3A51%3A00Z&sr=b&sp=r&sig=8TISHiMqXeBTa7GQOfDpSzSKUJif3BLffdHs0H%2FRwDw%3D"  alt="...">
                            <h6>Veteran</h6>
                        </div>
                    </div>
                    <div class="item">
                        <div class="boxDiversty">
                            <div class="gradientOverlay"></div>
                            <img src="https://webappmuh.blob.core.windows.net/static/imgs/disable.jpg?sv=2021-04-10&st=2022-04-21T07%3A52%3A05Z&se=2025-05-22T07%3A52%3A00Z&sr=b&sp=r&sig=1RCOnxDvpno9y2C6jQ3bRSXwIWZ%2Bk4%2FniS1JgVSvTgQ%3D"   alt="...">
                            <h6>Disabled Veteran</h6>
                        </div>
                    </div>
                    <div class="item">
                        <div class="boxDiversty">
                            <div class="gradientOverlay"></div>
                            <img src="https://webappmuh.blob.core.windows.net/static/imgs/zone.jpg?sv=2021-04-10&st=2022-04-21T07%3A52%3A29Z&se=2025-05-22T07%3A52%3A00Z&sr=b&sp=r&sig=1GbEEU%2FS4vYl8xfGAiPD%2FMbpgPtXhyM72%2FoOWmm%2FRxM%3D" alt="...">
                            <h6>Hubzone</h6>
                        </div>
                    </div>
                    <div class="item">
                        <div class="boxDiversty">
                            <div class="gradientOverlay"></div>
                            <img src="https://webappmuh.blob.core.windows.net/static/imgs/business.jpg?sv=2021-04-10&st=2022-04-21T07%3A52%3A52Z&se=2025-05-22T07%3A52%3A00Z&sr=b&sp=r&sig=tUbjg5s7FrBvAGBOclc621g6lSaIe0fF%2BOB%2BqNfzp6s%3D" alt="...">
                            <h6>Small Disadvantaged Business</h6>
                        </div>
                    </div>
                </div>
                <em>Please note: This site is only available to certify diverse companies. All non-diverse supplier submissions will be deleted.</em>
            </div>
        </div>
    </section>

    <section class="diverse-certficates">
        <div class="container">
            <div class="diverse-certficates-content">
                <h5 class="theme-heading center">NSNA accepts the following certifications from the councils and organizations listed below:</h5>
                <ul class="nav nav-pills mb-3 justify-content-center certificates-ul" id="certificates-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="pills-mbe-tab" data-bs-toggle="pill" data-bs-target="#pills-mbe" type="button" role="tab" aria-controls="pills-mbe" aria-selected="true">MBE</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-wbe-tab" data-bs-toggle="pill" data-bs-target="#pills-wbe" type="button" role="tab" aria-controls="pills-wbe" aria-selected="false">WBE</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-veteran-tab" data-bs-toggle="pill" data-bs-target="#pills-veteran" type="button" role="tab" aria-controls="pills-veteran" aria-selected="false">Veteran</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-lgbtq-tab" data-bs-toggle="pill" data-bs-target="#pills-lgbtq" type="button" role="tab" aria-controls="pills-lgbtq" aria-selected="false">LGBTQ+</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-disable-tab" data-bs-toggle="pill" data-bs-target="#pills-disable" type="button" role="tab" aria-controls="pills-disable" aria-selected="false">Disabled</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-sba-tab" data-bs-toggle="pill" data-bs-target="#pills-sba" type="button" role="tab" aria-controls="pills-sba" aria-selected="false">SBA</button>
                    </li>
                </ul>
                <div class="tab-content certificates-tab-content" id="certificates-tabContent">
<!--                    <div class="tab-pane fade show active" id="pills-mbe" role="tabpanel" aria-labelledby="pills-mbe-tab">-->
<!--                        <ul class="d-flex certificates-list">-->
<!--                            <li class="list-nav"><span>NMSDC / Regional Council</span></li>-->
<!--                            <li class="list-nav"><span>CAMSC (Canadian Aboriginal and Minority Supplier Council)</span></li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                    <div class="tab-pane fade" id="pills-wbe" role="tabpanel" aria-labelledby="pills-wbe-tab">-->
<!--                        <ul class="d-flex certificates-list">-->
<!--                            <li class="list-nav"><span>WBENC  / Regional Council</span></li>-->
<!--                            <li class="list-nav"><span>WBE Canada</span></li>-->
<!--                            <li class="list-nav"><span>WEConnect International</span></li>-->
<!--                            <li class="list-nav"><span>NWBOC ( National Association of Women Business Owners )</span></li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                    <div class="tab-pane fade" id="pills-veteran" role="tabpanel" aria-labelledby="pills-veteran-tab">-->
<!--                        <ul class="d-flex certificates-list">-->
<!--                            <li class="list-nav"><span>NVBDC</span></li>-->
<!--                            <li class="list-nav"><span>Veteran Affairs / Vetbiz / CVE</span></li>-->
<!--                            <li class="list-nav"><span>NaVOBA ( National Veteran Owned Business Association )</span></li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                    <div class="tab-pane fade" id="pills-lgbtq" role="tabpanel" aria-labelledby="pills-lgbtq-tab">-->
<!--                        <ul class="d-flex certificates-list">-->
<!--                            <li class="list-nav"><span>National LGBT Chamber of Commerce  (NGLCC)</span></li>-->
<!--                            <li class="list-nav"><span>Canadian Gay & Lesbian Chamber of Commerce (CGLCC)</span></li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                    <div class="tab-pane fade" id="pills-disable" role="tabpanel" aria-labelledby="pills-disable-tab">-->
<!--                        <ul class="d-flex certificates-list">-->
<!--                            <li class="list-nav"><span>DisabilityIN (formerly USBLN)</span></li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                    <div class="tab-pane fade" id="pills-sba" role="tabpanel" aria-labelledby="pills-sba-tab">-->
<!--                        <ul class="d-flex certificates-list">-->
<!--                            <li class="list-nav"><span>SAM Small Business Enterprise (SBE)</span></li>-->
<!--                            <li class="list-nav"><span>SAM Small Disadvantaged Business (DBE)</span></li>-->
<!--                            <li class="list-nav"><span>SAM (SBA-8A)</span></li>-->
<!--                            <li class="list-nav"><span>SAM (Vet, HUBZone, Disabled-Vet)</span></li>-->
<!--                            <li class="list-nav"><span>SBA (WOSB)</span></li>-->
<!--                        </ul>-->
<!--                    </div>-->
                </div>
            </div>
        </div>
    </section>

    <section class="newsletter">
        <div class="container">
            <div class="newsContent">
                <h5>Certified Diverse Supplier?</h5>
                <button class="hvr-sweep-orange-bottom"><a href="{% url 'Registration' %}">Yes</a></button>
                <button class="hvr-sweep-orange-bottom">No</button>

            </div>
        </div>
    </section>

{% endblock %}

