{% extends "email_base.html" %}

{% block content %}

<div class="email-wrapper" style="">
    <div class="email-logo">
        <h1>ABC</h1>
        <h3>Corporation</h3>
    </div>
    <div class="body-email">
        <h2>ABC Supplier</h2>
        <p>
            {{content}}
        </p>
        <a href="{{report_link}}">View Report</a>
        <h4>Click the View Report Button to view the repost and provide your valuable feedback, Thankyou!</h4>
    </div>
    <div class="copyright-email">
        <p>ABC Supplier &copy; 2021. All Rights Reserved.</p>
    </div>
</div>

{% endblock content %}